<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUdBpi-WlzZfpb2WzS_vTBXfx6ctOiltA</string>
	<key>GCM_SENDER_ID</key>
	<string>586152666181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.ProspectClub</string>
	<key>PROJECT_ID</key>
	<string>prospectclub-3d898</string>
	<key>STORAGE_BUCKET</key>
	<string>prospectclub-3d898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586152666181:ios:ba9f124928d7a87fb96f2c</string>
</dict>
</plist>
